.comment-item {
  width: 40%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;

  .user-img {
    img {
      border-radius: 100%;
    }
  }

  .cmt-right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    .cmt-user {
      font-weight: bold;
      color: #00000080;
    }
  }
}