@import '../../mixins';

.activity-list {
    width: 100%;
    margin-top: 30px;

    .list-ul {
        list-style: none;
        margin: 0 !important;

        @include responsive($mobile) {
            height: 70px;
        }

        li {
            background-color: rgb(180, 180, 180);

            @include responsive($mobile) {
                height: 100%;
            }

            .list-item-div {
                display: flex;

                .right {
                    display: flex;
                    width: auto;
                    align-items: center;

                    .post-img {
                        width: 130px;
                        background-color: #ccc;
                        margin-right: 10px;

                        img {
                            width: 130px;
                            height: 60px;

                            @include responsive($mobile) {
                                height: 70px;
                                width: 110px;
                            }
                        }

                        @include responsive($mobile) {
                            height: 70px;
                            width: 110px;
                        }

                        @include responsive($less-tab) {
                            width: 110px;
                        }
                    }

                    h3 {
                        color: #121212;
                        cursor: pointer;


                        @include responsive($less-tab) {
                            font-size: 20px;
                        }

                        @include responsive($mobile) {
                            font-size: 15px;
                        }

                        @include responsive(420px) {
                            width: 170px;
                            font-size: 14px;
                        }
                    }
                }

                .options-manipulate {
                    padding: 0 20px;
                }
            }

            &:nth-child(2n) {
                background-color: rgb(197, 197, 197);
            }
        }


    }
}