@import '../../mixins';

.dashboard-container {
    width: 100%;

    .options-bar {
        width: 230px;
        height: 100vh;
        background-color: #ccc;
        padding: 10px 15px;

        @include responsive($tablet) {
            display: none !important;
        }

        .div-icon {
            width: 25px;
            height: 25px;
            background-color: grey;
            margin: 25px 0;
            margin-bottom: 30px;
        }

        span {
            margin: 13px 20px;
            color: rgb(65, 65, 65);
            font-size: 20px;

            &:hover {
                text-decoration: none;
                color: rgb(24, 24, 24);
            }

            a {
                margin: 0;
            }
        }

        a {
            margin: 13px 20px;
            color: rgb(65, 65, 65);
            font-size: 20px;

            &:hover {
                text-decoration: none;
                color: rgb(24, 24, 24);
            }
        }
    }

    .user-data-dash {
        padding: 30px 0 0 70px;

        .profile {
            margin: 30px 0 20px 0;

            @include responsive($less-tab) {
                display: flex !important;
                justify-content: center !important;
                flex-direction: column !important;
            }

            .img-container {
                width: 120px;
                height: 120px;
                border-radius: 100%;
                background-color: #ccc;
            }

            .info {
                width: 120px;
                margin-top: 20px;

                p {
                    margin: 10px 0 0 0;
                    display: inline;
                }

                .user-data {
                    padding: 0 50px 0 0;
                    display: inline;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.saved-data {
    width: 100%;
    padding-right: 70px !important;
}