@import "../../../mixins";

.img-container {
  position: relative;

  .profile-img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .change-profile-photo {
    position: absolute;
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    bottom: 8px;
    right: 8px;

    @include responsive($less-tab) {
      width: 22px;
      height: 22px;
      right: 5px;
      bottom: 5px;
      font-size: 13px;
    }

    i {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: #000;
      }
    }

    input {
      opacity: 0;
      width: 25px;
      height: 25px;
      border-radius: 100%;
    }
  }
}

.edit-profile {
  @media (max-width: 750px) {
    width: 480px;
    height: 280px;
  }

  @media screen and (max-width: 500px) {
      width: 300px;
  }

  width: 700px;
  height: 300px;
  z-index: 4;
  padding: 30px 20px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(212, 212, 212);

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .input-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 100%;
        border: none;
        margin: 10px 0;
        padding: 3px 10px;
      }
    }

    .buttons-ss {
      display: flex;
      justify-content: flex-end;
      margin-top: 40px;

      button {
        padding: 10px;
        border: none;
        margin-left: 20px;
        transition: all 0.5s ease;

        &:hover {
          color: white;
          background-color: darken($color: #ccc, $amount: 50%);
        }
      }
    }
  }
}

.back-rmm {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 3;
  top: 0;
  left: 0;
}
