@import "../../../mixins";

.post-container-one {
  padding: 0 130px;
  width: 100%;

  @include responsive($less-tab) {
    padding: 0 70px;
  }

  @include responsive($less-tab) {
    padding: 0 30px;
  }
}

.post-heading {
  padding: 0;
  margin: 40px 0 10px 0;
  font-size: 55px;

  @include responsive($less-tab) {
    font-size: 45px;
  }

  @include responsive($mobile) {
    font-size: 40px;
  }
}

.user-p {
  padding: 10px 10px 10px 0;

  .dot-i {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #ccc;
    margin: 0 10px;
  }

  i {
    font-size: 25px;
    margin-left: 20px;

    &:hover {
      color: rgb(255, 0, 106);
    }
  }
}

.img-post-container {
  width: 100%;
  height: 400px;
  background-color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: 400px;

    @include responsive($mobile) {
      height: 300px;
      max-width: 400px;
    }
  }
}

.nn-new {
  padding: 0px;
  font-size: 25px;
  margin-top: 20px;
  line-height: 1.7;

  @include responsive($less-tab) {
    font-size: 20px;
  }

  @include responsive($less-tab) {
    font-size: 20px;
  }
}

.post-comment-seperator {
  width: 100%;
  height: 2px;
  background-color: #cccccc60;
  margin-top: 80px;
}

.comment-tag {
  font-size: 40px;
  color: #00000080;
  margin: 30px 0;
}

.comm {
  input {
    width: 40%;
    border-radius: 0;
    border: none;
    background-color: #cccccc55;
    padding: 10px 15px;
  }

  .comm-btn {
    width: 100px;
    height: 42px;
    margin-left: 30px;
    border: none;
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #00000099;
    }
  }
}

pre {
  background-color: #e3e3e3;
  min-width: 600px;
  max-width: 100%;
  margin: auto;
  padding: 10px;

  * {
    font-family: "Cutive Mono";
  }
}
