.trending-item {
    width: 280px;
    height: 220px;
    padding: 0px;
    margin: 0;
    margin-right: 28px;


    .img-container {
        width: 100%;
        height: 120px;
        background-color: rgb(168, 168, 168);
        cursor: pointer;
    }

    .bottom-section {
        display: flex;
        justify-content: space-between;
        height: 75px;

        .post-info--ss {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                font-size: 18px;
                margin: 5px 0;
                cursor: pointer;
            }


            .user {
                position: relative;

                p {
                    font-size: 14px;
                    margin-top: auto;
                    margin-bottom: auto;
                    user-select: none;
                }

                span {
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    background-color: gray;
                    margin: 0 5px;
                }
            }
        }

        .post-options--s {
            padding: 10px 0;

            .admin-options {
                cursor: pointer;

            }

            .exit-option-mode {
                position: absolute;
                width: 100vw;
                height: 100vh;
                z-index: 3;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

    }
}

.moving {
    width: 80px;
    height: 25px;
    background: linear-gradient(to right, #e9e9e9, #e6e6e6, #e9e9e9);
    animation: progress 0.5s infinite ease-in;
    transform: translateX(-80px);
}

@keyframes progress {
    from {
        transform: translateX(-80px);
    }

    to {
        transform: translateX(330px);
    }
}

// Place holder Styles
.trending-placeholder {
    width: 260px;
    height: 75px;
    margin-top: 5px;


    .heading-cont {
        width: 260px;
        height: 25px;
        background-color: #e9e9e9;
        overflow-x: hidden;
    }

    .content1 {
        width: 250px;
        height: 18px;
        background-color: #e9e9e9;
        overflow-x: hidden;
        margin: 5px 0;

        .aad1 {
            height: 18px;
        }
    }

    .content2 {
        width: 200px;
        height: 18px;
        background-color: #e9e9e9;
        overflow-x: hidden;
        margin: 5px 0;

        .aad2 {
            height: 18px;
        }
    }
}


// Global-icon-styles
i {
    cursor: pointer;

    &:hover {
        color: #004dc0;
    }
}