@import '../../../mixins';

.editor-container-compose {
    width: 100%;
    padding: 0 130px;

    .custom-file-input {
        width: 100px;
        border: none;
        opacity: 1 !important;
    }

    .upload-btn {
        margin: 10px 0;
    }

    @include responsive($tablet) {
        padding: 0 80px;
    }

    @include responsive($mobile) {
        width: 90%;
        padding: 0 20px;
    }

    button {
        width: 150px;
        margin: 20px 0;
    }

    .compose-heading {
        width: 100%;

        input {
            width: 100%;
            height: 50px;
            font-family: 'Playfair';
            font-size: 30px;
            font-weight: 600;
            padding: 5px 10px;
            border: none;

            &:active {
                outline: none;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.codex-editor__redactor {
    padding-bottom: 300px !important;
    max-width: 650px;
    min-width: 100%;
    margin: auto;

    .ce-block {
        .ce-block__content {
            min-width: 100%;

            .cdx-block {
                padding: 0 10px;
            }

            .ce-code {
                display: flex;
                justify-content: center;
                min-width: 70%;

                textarea {
                    width: 700px;
                    font-family: 'Cutive Mono';
                    font-size: 20px;
                }
            }
        }
    }
}

.ce-toolbar {
    .ce-toolbar__content {
        .ce-toolbar__actions {
            right: -200px !important;
            top: 10px !important;
        }
    }

    .ce-toolbar__plus {
        transform: translate3d(-235px, calc(19px - 50%), 0px) !important;
        border: 2px solid #ccc;
        transition: all 0.4s ease;
        transform: translateX(-5px);
        padding: 1px;
        box-sizing: content-box !important;
        margin-right: 5px;
        left: -39px !important;
    }

    .ce-toolbox {
        transform: translate3d(-220px, calc(19px - 50%), 0px) !important;
    }
}

.ce-inline-toolbar {
    .ce-inline-toolbar__buttons {

        .ce-inline-tool--bold,
        .ce-inline-tool--italic,
        .ce-inline-tool--link,
        .ce-inline-tool--last {
            width: 40px;
            margin: 10px 0;
        }
    }
}